# CLASSIFICATION MODEL BUILDING TRAIN

In [253]:
# !pip install sqlalchemy
# !conda install -y -q pymssql
# !pip install Pymssql

In [1]:
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData

In [2]:
Username = 'admin'
Password = 'amazing_people'
Host = 'alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com'
Port = '1433'
Database = 'Tshiya'

In [3]:
connection = create_engine(
    'mssql+pymssql://' +
    Username + ':' + Password + '@' + Host + ':' + Port + '/' + Database
)

In [4]:
sql_query = "Select * from claims_data"

In [5]:
df = pd.read_sql_query(sql_query, connection)

In [6]:
df.head()

,age,sex,bmi,steps,children,smoker,region,insurance_claim,claim_amount
0,19,female,27.9,3009,0,yes,southwest,yes,16884.924
1,18,male,33.77,3008,1,no,southeast,yes,1725.5523
2,28,male,33,3009,3,no,southeast,no,0
3,33,male,22.705,10009,0,no,northwest,no,0
4,32,male,28.88,8010,0,no,northwest,yes,3866.8552

### CLASSIFICATION MODEL

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

UsageError: Line magic function `%` not found.

In [15]:
# Lables
y = df['insurance_claim'].values

# Features
X = df.drop(['insurance_claim', 'claim_amount'], axis=1, inplace=True)

In [16]:
#df1 = df1.drop('row_id',axis =0)


# X['bmi'] =df1['bmi'].apply(lambda x: pd.to_numeric(x))
#df1['smoker']=df1['smoker'].apply(lambda x: pd.(x))
X = pd.get_dummies(df, columns=['smoker', 'region', 'sex'], drop_first=True)

In [17]:
X.head(30)

,age,bmi,steps,children,smoker_yes,region_northwest,region_southeast,region_southwest,sex_male
0,19,27.9,3009,0,1,0,0,1,0
1,18,33.77,3008,1,0,0,1,0,1
2,28,33,3009,3,0,0,1,0,1
3,33,22.705,10009,0,0,1,0,0,1
4,32,28.88,8010,0,0,1,0,0,1
5,31,25.74,8005,0,0,0,1,0,0
6,46,33.44,3002,1,0,0,1,0,0
7,37,27.74,8007,3,0,1,0,0,0
8,37,29.83,8002,2,0,0,0,0,1
9,60,25.84,5008,0,0,1,0,0,0
10,25,26.22,8006,0,0,0,0,0,1
11,62,26.29,5004,0,1,0,1,0,0
12,23,34.4,3008,0,0,0,0,1,1
13,56,39.82,4001,0,0,0,1,0,0
14,27,42.13,4006,0,1,0,1,0,1
15,19,24.6,10000,1,0,0,0,1,1
16,52,30.78,4008,1,0,0,0,0,0
17,23,23.845,10004,0,0,0,0,0,1
18,56,40.3,3003,0,0,0,0,1,1
19,30,35.3,4010,0,1,0,0,1,1
20,60,36.005,3002,0,0,0,0,0,0
21,30,32.4,4000,1,0,0,0,1,0
22,18,34.1,4001,0,0,0,1,0,1
23,34,31.92,4003,1,1,0,0,0,0
24,37,28.025,8000,2,0,1,0,0,1
25,59,27.72,8009,3,0,0,1,0,0
26,63,23.085,5000,0,0,0,0,0,0
27,55,32.775,4000,2,0,1,0,0,0
28,23,17.385,10006,1,0,1,0,0,1
29,31,36.3,4003,2,1,0,0,1,1

In [30]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
age                 1338 non-null int64
bmi                 1338 non-null object
steps               1338 non-null int64
children            1338 non-null object
smoker_yes          1338 non-null uint8
region_northwest    1338 non-null uint8
region_southeast    1338 non-null uint8
region_southwest    1338 non-null uint8
sex_male            1338 non-null uint8
dtypes: int64(2), object(2), uint8(5)
memory usage: 48.4+ KB

#### Features/Labels split

#### Transforming the Features

#### Train/Test split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=47)

### Training

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

## Building A Logistic Regression Model

In [21]:
lm = LogisticRegression()
lm.fit(X_train,y_train)
lm.intercept_[0]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

-3.804770316310235

In [22]:
coeff_df = pd.DataFrame(lm.coef_.T,X.columns,columns=['Coefficient'])

In [23]:
pred_lm = lm.predict(X_test)

## Testing The Logistic Regression Model

In [24]:
from sklearn.metrics import confusion_matrix

In [25]:
labels = ['No', 'Yes']

print('Confusion Matrix')
pd.DataFrame(data=confusion_matrix(y_test, pred_lm), index=labels, columns=labels)

Confusion Matrix

     No  Yes
No   88   14
Yes  20  146

In [26]:
from sklearn.metrics import classification_report

In [27]:
print('Classification Report')
print(classification_report(y_test, pred_lm, target_names=['No', 'Yes']))

Classification Report
              precision    recall  f1-score   support

          No       0.81      0.86      0.84       102
         Yes       0.91      0.88      0.90       166

   micro avg       0.87      0.87      0.87       268
   macro avg       0.86      0.87      0.87       268
weighted avg       0.88      0.87      0.87       268

## Building a KNN Classification Model

In [28]:
scaler = StandardScaler()

In [31]:
X_scaled = scaler.fit_transform(X)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [32]:
X_standardize = pd.DataFrame(X_scaled,columns=X.columns)

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X_standardize, y, test_size=0.2, random_state=47)

In [34]:
knn = KNeighborsClassifier()

knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [35]:
pred_knn = knn.predict(X_test)

In [36]:
labels = ['No', 'Yes']

print('Confusion Matrix')
pd.DataFrame(data=confusion_matrix(y_test, pred_knn), index=labels, columns=labels)

Confusion Matrix

     No  Yes
No   85   17
Yes  18  148

In [37]:
print('Classification Report')
print(classification_report(y_test, pred_knn, target_names=['No', 'Yes']))

Classification Report
              precision    recall  f1-score   support

          No       0.83      0.83      0.83       102
         Yes       0.90      0.89      0.89       166

   micro avg       0.87      0.87      0.87       268
   macro avg       0.86      0.86      0.86       268
weighted avg       0.87      0.87      0.87       268

### Tuning Parameters to Improve Model

In [38]:
knn_3 = KNeighborsClassifier(n_neighbors=3)
knn_5 = KNeighborsClassifier(n_neighbors=5)
knn_20 = KNeighborsClassifier(n_neighbors=20)

In [39]:
knn_3.fit(X_train, y_train)
knn_5.fit(X_train, y_train)
knn_20.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=20, p=2,
           weights='uniform')

In [40]:
pred_knn_3 = knn_3.predict(X_test)
pred_knn_5 = knn_5.predict(X_test)
pred_knn_20 = knn_20.predict(X_test)

In [41]:
labels = ['No', 'Yes']

pred = {'k=3':pred_knn_3, 'k=5':pred_knn_5, 'k=20':pred_knn_20}

for k,v in pred.items():
    print('{}'.format(k))
    print(pd.DataFrame(data=confusion_matrix(y_test, v), index=labels, columns=labels))
    print('\n')

k=3
     No  Yes
No   88   14
Yes  17  149


k=5
     No  Yes
No   85   17
Yes  18  148


k=20
     No  Yes
No   90   12
Yes  36  130

## Obtaining Classification Reports

In [42]:
pred = {'k=3':pred_knn_3, 'k=5':pred_knn_5, 'k=20':pred_knn_20}

for k,v in pred.items():
    print('{}'.format(k))
    print(classification_report(y_test, v, target_names=['No', 'Yes']))
    print('\n')

k=3
              precision    recall  f1-score   support

          No       0.84      0.86      0.85       102
         Yes       0.91      0.90      0.91       166

   micro avg       0.88      0.88      0.88       268
   macro avg       0.88      0.88      0.88       268
weighted avg       0.89      0.88      0.88       268



k=5
              precision    recall  f1-score   support

          No       0.83      0.83      0.83       102
         Yes       0.90      0.89      0.89       166

   micro avg       0.87      0.87      0.87       268
   macro avg       0.86      0.86      0.86       268
weighted avg       0.87      0.87      0.87       268



k=20
              precision    recall  f1-score   support

          No       0.71      0.88      0.79       102
         Yes       0.92      0.78      0.84       166

   micro avg       0.82      0.82      0.82       268
   macro avg       0.81      0.83      0.82       268
weighted avg       0.84      0.82      0.82       268

## Building a Decision Tree Classification Model

In [43]:
tree = DecisionTreeClassifier(random_state=47)

In [44]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=47,
            splitter='best')

In [45]:
pred_tree = tree.predict(X_test)

In [46]:
labels = ['No', 'Yes']

print('Decision Tree - Confusion Matrix')
pd.DataFrame(data=confusion_matrix(y_test, pred_tree), index=labels, columns=labels)

Decision Tree - Confusion Matrix

      No  Yes
No   101    1
Yes    0  166

In [47]:
print('Random Forest - Classification Report')
print(classification_report(y_test, pred_tree, target_names=['No', 'Yes']))

Random Forest - Classification Report
              precision    recall  f1-score   support

          No       1.00      0.99      1.00       102
         Yes       0.99      1.00      1.00       166

   micro avg       1.00      1.00      1.00       268
   macro avg       1.00      1.00      1.00       268
weighted avg       1.00      1.00      1.00       268

### Fine Tuning Parameteres For Decision Trees

In [48]:
tree_1 = DecisionTreeClassifier(max_depth=2, min_samples_leaf=5, random_state=47)

# max_depth=5 and min_samples_leaf=4
tree_2 = DecisionTreeClassifier(max_depth=5, min_samples_leaf=4, random_state=47)

# max_depth=7 and min_samples_leaf=3
tree_3 = DecisionTreeClassifier(max_depth=7, min_samples_leaf=3, random_state=47)

In [49]:
tree_1.fit(X_train, y_train)
tree_2.fit(X_train, y_train)
tree_3.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=3, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=47,
            splitter='best')

In [50]:
pred_tree_1 = tree_1.predict(X_test)
pred_tree_2 = tree_2.predict(X_test)
pred_tree_3 = tree_3.predict(X_test)

In [51]:
labels = ['No', 'Yes']

pred = {'max_depth=2; min_samples_leaf=5':pred_tree_1, 
        'max_depth=5; min_samples_leaf=4':pred_tree_2, 
        'max_depth=7; min_samples_leaf=3':pred_tree_3}

for k,v in pred.items():
    print('{}'.format(k))
    print(pd.DataFrame(data=confusion_matrix(y_test, v), index=labels, columns=labels))
    print('\n')

max_depth=2; min_samples_leaf=5
     No  Yes
No   98    4
Yes  58  108


max_depth=5; min_samples_leaf=4
     No  Yes
No   94    8
Yes  14  152


max_depth=7; min_samples_leaf=3
     No  Yes
No   98    4
Yes   7  159

In [52]:
pred = {'max_depth=2; min_samples_leaf=5':pred_tree_1, 
        'max_depth=5; min_samples_leaf=4':pred_tree_2, 
        'max_depth=7; min_samples_leaf=3':pred_tree_3}

for k,v in pred.items():
    print('{}'.format(k))
    print(classification_report(y_test, v, target_names=['No', 'Yes']))
    print('\n')

max_depth=2; min_samples_leaf=5
              precision    recall  f1-score   support

          No       0.63      0.96      0.76       102
         Yes       0.96      0.65      0.78       166

   micro avg       0.77      0.77      0.77       268
   macro avg       0.80      0.81      0.77       268
weighted avg       0.84      0.77      0.77       268



max_depth=5; min_samples_leaf=4
              precision    recall  f1-score   support

          No       0.87      0.92      0.90       102
         Yes       0.95      0.92      0.93       166

   micro avg       0.92      0.92      0.92       268
   macro avg       0.91      0.92      0.91       268
weighted avg       0.92      0.92      0.92       268



max_depth=7; min_samples_leaf=3
              precision    recall  f1-score   support

          No       0.93      0.96      0.95       102
         Yes       0.98      0.96      0.97       166

   micro avg       0.96      0.96      0.96       268
   macro avg       0.95      0.96      0.96       268
weighted avg       0.96      0.96      0.96       268

# Building Random Forests Model

In [53]:
forest = RandomForestClassifier(n_estimators=100, random_state=47)
forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=47, verbose=0, warm_start=False)

In [54]:
pred_forest = forest.predict(X_test)

In [55]:
labels = ['No', 'Yes']

print('Random Forest - Confusion Matrix')
pd.DataFrame(data=confusion_matrix(y_test, pred_forest), index=labels, columns=labels)

Random Forest - Confusion Matrix

      No  Yes
No   101    1
Yes    4  162

In [56]:
print('Random Forest - Classification Report')
print(classification_report(y_test, pred_forest, target_names=['No', 'Yes']))

Random Forest - Classification Report
              precision    recall  f1-score   support

          No       0.96      0.99      0.98       102
         Yes       0.99      0.98      0.98       166

   micro avg       0.98      0.98      0.98       268
   macro avg       0.98      0.98      0.98       268
weighted avg       0.98      0.98      0.98       268

## Fine Tunining parameters

In [57]:
# 5 trees in forest
forest_1 = RandomForestClassifier(n_estimators=5, random_state=47)

# 20 trees in forest
forest_2 = RandomForestClassifier(n_estimators=20, random_state=47)

# 100 trees in forest
forest_3 = RandomForestClassifier(n_estimators=100, random_state=47)

In [58]:
forest_1.fit(X_train, y_train)
forest_2.fit(X_train, y_train)
forest_3.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=47, verbose=0, warm_start=False)

In [59]:
pred_forest_1 = forest_1.predict(X_test)
pred_forest_2 = forest_2.predict(X_test)
pred_forest_3 = forest_3.predict(X_test)

In [60]:
labels = ['No', 'Yes']

pred = {'trees = 5':pred_forest_1, 
        'trees = 20':pred_forest_2, 
        'trees = 100':pred_forest_3}

for k,v in pred.items():
    print('{}'.format(k))
    print(pd.DataFrame(data=confusion_matrix(y_test, v), index=labels, columns=labels))
    print('\n')

trees = 5
      No  Yes
No   101    1
Yes    6  160


trees = 20
      No  Yes
No   101    1
Yes    7  159


trees = 100
      No  Yes
No   101    1
Yes    4  162

In [61]:
pred = {'trees = 5':pred_forest_1, 
        'trees = 20':pred_forest_2, 
        'trees = 100':pred_forest_3}

for k,v in pred.items():
    print('{}'.format(k))
    print(classification_report(y_test, v, target_names=['No', 'Yes']))
    print('\n')

trees = 5
              precision    recall  f1-score   support

          No       0.94      0.99      0.97       102
         Yes       0.99      0.96      0.98       166

   micro avg       0.97      0.97      0.97       268
   macro avg       0.97      0.98      0.97       268
weighted avg       0.97      0.97      0.97       268



trees = 20
              precision    recall  f1-score   support

          No       0.94      0.99      0.96       102
         Yes       0.99      0.96      0.98       166

   micro avg       0.97      0.97      0.97       268
   macro avg       0.96      0.97      0.97       268
weighted avg       0.97      0.97      0.97       268



trees = 100
              precision    recall  f1-score   support

          No       0.96      0.99      0.98       102
         Yes       0.99      0.98      0.98       166

   micro avg       0.98      0.98      0.98       268
   macro avg       0.98      0.98      0.98       268
weighted avg       0.98      0.98      0.98       268

### CONCLUSION 

Decision trees has been identified as the best model as it obtains the highest F1-score with the least computational time

## Training the test Data Using Decision Trees.

In [97]:
sql_query = "Select * from test_set_2"

In [112]:
df1 = pd.read_sql_query(sql_query, connection)

In [113]:
df1.head()

   row_id  age     sex    bmi  steps  children  smoker     region
0       1   27    male  28.88   8049         0   False  southwest
1       2   20  female  26.27   7970         3    True  southwest
2       3   32  female  26.03   2973         0   False  southwest
3       4   19  female  22.09  10427         1    True  southwest
4       5   20  female  28.69   3972         0    True  southwest

In [109]:
### Check data types
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
row_id      300 non-null int64
age         300 non-null int64
sex         300 non-null object
bmi         300 non-null object
steps       300 non-null int64
children    300 non-null int64
smoker      300 non-null bool
region      300 non-null object
dtypes: bool(1), int64(4), object(3)
memory usage: 16.8+ KB

In [114]:

## Convert BMI to float
df1['bmi'] = pd.to_numeric(df1['bmi'])

In [115]:
#df1 = df1.drop('row_id',axis =0)
df1_submission = df1.drop('row_id', axis=1)
#df1['bmi'] =df1['bmi'].apply(lambda x: pd.to_numeric(x))
#df1['smoker']=df1['smoker'].apply(lambda x: pd.(x))

In [116]:
df1_submission = pd.get_dummies(df1_submission, columns=['smoker', 'region', 'sex'], drop_first=True)

df1_submission.head()

,age,bmi,steps,children,smoker_True,region_northwest,region_southeast,region_southwest,sex_male
0,27,28.88,8049,0,0,0,0,1,1
1,20,26.27,7970,3,1,0,0,1,0
2,32,26.03,2973,0,0,0,0,1,0
3,19,22.09,10427,1,1,0,0,1,0
4,20,28.69,3972,0,1,0,0,1,0

In [118]:
df1_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 9 columns):
age                 300 non-null int64
bmi                 300 non-null float64
steps               300 non-null int64
children            300 non-null int64
smoker_True         300 non-null uint8
region_northwest    300 non-null uint8
region_southeast    300 non-null uint8
region_southwest    300 non-null uint8
sex_male            300 non-null uint8
dtypes: float64(1), int64(3), uint8(5)
memory usage: 10.9 KB

In [87]:
#X_tran=df1.copy()
df1

In [91]:
df1.head()

,age,bmi,steps,children,smoker_True,region_northwest,region_southeast,region_southwest,sex_male
0,27,28.88,8049,0,0,0,0,1,1
1,20,26.27,7970,3,1,0,0,1,0
2,32,26.03,2973,0,0,0,0,1,0
3,19,22.09,10427,1,1,0,0,1,0
4,20,28.69,3972,0,1,0,0,1,0

In [119]:
pred_tree_f = tree.predict(df1_submission)

In [120]:
submission = pd.DataFrame({'row_id' :df1.row_id,'predictions' : pred_tree_f.ravel()})

In [121]:
submission.head()

   row_id predictions
0       1         yes
1       2         yes
2       3         yes
3       4         yes
4       5         yes

In [123]:
submission.to_sql('classification_model_results', con=connection, if_exists='append', index=False,chunksize=500)

In [124]:
len(submission)

300

In [125]:
connection.table_names()

['claims_data',
 'classification_model_results',
 'football_players',
 'test_set',
 'test_set - test_set (2)',
 'test_set_2']